.header{
    background-image: url('/images/background_2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: top center;
    margin: 0px;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

body {
    font: "lato";
}

@font-face {
    font-family: "Wicked Grit";
    src: url('/fonts/WickedGrit.ttf') format("truetype");
}

.maintext{
    max-width: 80%;
}

.side-social {
	/*height: 0px;
	width: 85px;*/
	position: fixed;
	right: 0;
	top: 40%;
    z-index: 1000;
}

.side-social a {
	display: block;
	/*height: 52px;
	width: 155px;*/	
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;

}


nav.scrollnav {
    display: block;
    position: fixed;}

@media (min-width: 768px){
    nav.scrollnav{
    transition: transform 500ms;
    transform: translateY(-100px);}}


@media (max-width: 768px){
    .frontnav{
        display: none;
    }
}

.bg-black {
    background-color: #000000 !important;
  }




