.mainpagenav {
    justify-content: center;
    align-items: center
}

.header{
    background-image: url('raw_mushrooms.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }